<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

## Exercise 1 (Celcius to Farenheit) ☻

In [2]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [3]:
for i in range(len(temperatures_celsius)): #len(temperatures_celsius to show how many times loop runs
    temperatures_farenheit = ((temperatures_celsius[i] * 9/5) + 32) #formula to get farenheit
    print(f"The temperature in farenheit is {temperatures_farenheit} while it is {temperatures_celsius[i]} in celsius")

The temperature in farenheit is 32.0 while it is 0 in celsius
The temperature in farenheit is 41.0 while it is 5 in celsius
The temperature in farenheit is 50.0 while it is 10 in celsius
The temperature in farenheit is 59.0 while it is 15 in celsius
The temperature in farenheit is 68.0 while it is 20 in celsius
The temperature in farenheit is 77.0 while it is 25 in celsius
The temperature in farenheit is 86.0 while it is 30 in celsius
The temperature in farenheit is 95.0 while it is 35 in celsius
The temperature in farenheit is 104.0 while it is 40 in celsius
The temperature in farenheit is 113.0 while it is 45 in celsius
The temperature in farenheit is 122.0 while it is 50 in celsius

In [8]:
for i in range(len(temperatures_celsius)): #len(temperatures_celsius to show how many times loop runs
    temperatures_farenheit = ((temperatures_celsius[i] * 9/5) + 32) #formula to get farenheit
    print(f"The temperature in farenheit is {temperatures_farenheit}°F while it is {float(temperatures_celsius[i])}°C in celsius")

The temperature in farenheit is 32.0°F while it is 0.0°C in celsius
The temperature in farenheit is 41.0°F while it is 5.0°C in celsius
The temperature in farenheit is 50.0°F while it is 10.0°C in celsius
The temperature in farenheit is 59.0°F while it is 15.0°C in celsius
The temperature in farenheit is 68.0°F while it is 20.0°C in celsius
The temperature in farenheit is 77.0°F while it is 25.0°C in celsius
The temperature in farenheit is 86.0°F while it is 30.0°C in celsius
The temperature in farenheit is 95.0°F while it is 35.0°C in celsius
The temperature in farenheit is 104.0°F while it is 40.0°C in celsius
The temperature in farenheit is 113.0°F while it is 45.0°C in celsius
The temperature in farenheit is 122.0°F while it is 50.0°C in celsius

In [11]:
for celsius in temperatures_celsius: #tried a different methods, seems less complicated
    print(f"The temperature in celsius is {float(celsius)}°C while it is {(celsius * 9/5) + 32}°F in farenheit")

The temperature in celsius is 0.0°C while it is 32.0°F in farenheit
The temperature in celsius is 5.0°C while it is 41.0°F in farenheit
The temperature in celsius is 10.0°C while it is 50.0°F in farenheit
The temperature in celsius is 15.0°C while it is 59.0°F in farenheit
The temperature in celsius is 20.0°C while it is 68.0°F in farenheit
The temperature in celsius is 25.0°C while it is 77.0°F in farenheit
The temperature in celsius is 30.0°C while it is 86.0°F in farenheit
The temperature in celsius is 35.0°C while it is 95.0°F in farenheit
The temperature in celsius is 40.0°C while it is 104.0°F in farenheit
The temperature in celsius is 45.0°C while it is 113.0°F in farenheit
The temperature in celsius is 50.0°C while it is 122.0°F in farenheit

## Exercise 2 (Multiplication table) ☻

In [18]:
for letter in ['A', 'B', 'C']: #also called nested loops, total iterations will be number of iterations in the outer loop multiplied by inner
    for number in [1, 2, 3]: #for each outer loop iteration, the inner loop must finish before moving to next iteration in outer loop
        print(f'{letter}{number}', end='\t') #\t means tab character
    print('\n') #\n means new line character

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [29]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\n') #\n means new line
    print ("\t") #\t means tab/space

A1
A2
A3

B1
B2
B3

C1
C2
C3

In [28]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')

A1	A2	A3	B1	B2	B3	C1	C2	C3

In [19]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}')

A1
A2
A3
B1
B2
B3
C1
C2
C3

In [64]:
for number in [1, 2, 3, 4, 5]:
    for count, value in enumerate(number): #was trying to use enumerate() to get the row labels but integer is not iterable
        print(f'{count}: {number * value}', end='\t')
    print('\n')

TypeError: 'int' object is not iterable

In [14]:
number = [1,2,3,4,5]
for count, n in enumerate(number, 1): #tried enumerate() but the numbers appeared for every single iteration of inner loop
    for value in [1,2,3,4,5]:
        print(f"{count}: {n * value}")

1: 1
1: 2
1: 3
1: 4
1: 5
2: 2
2: 4
2: 6
2: 8
2: 10
3: 3
3: 6
3: 9
3: 12
3: 15
4: 4
4: 8
4: 12
4: 16
4: 20
5: 5
5: 10
5: 15
5: 20
5: 25

In [8]:
for number in [1,2,3,4,5]: 
    for value in [1,2,3,4,5]:
        print(f" {number * value}", end="\t")
    print("\n") #tried this method, but could not get the row labels

 1	 2	 3	 4	 5

 2	 4	 6	 8	 10

 3	 6	 9	 12	 15

 4	 8	 12	 16	 20

 5	 10	 15	 20	 25

In [66]:
for number in range(1,6): #used range instead of list
    print(f"{number} :", end="") #end="" allows the code to continue on same line
    for value in range(1,6):
        print(f" {number * value:<1}", end="\t")#went back to the f-string chapter and edited to ensure it is aligned left with equal spacings
    print("\n")

1 : 1	 2	 3	 4	 5

2 : 2	 4	 6	 8	 10

3 : 3	 6	 9	 12	 15

4 : 4	 8	 12	 16	 20

5 : 5	 10	 15	 20	 25

In [68]:
for number in range(1,6): #used range instead of list
    print(f"{number} :", end="") #end="" allows the code to continue on same line
    for value in range(1,6):
        print(f" {number * value:<1}", end="\t")
    print() #can also use this instead

1 : 1	 2	 3	 4	 5
2 : 2	 4	 6	 8	 10
3 : 3	 6	 9	 12	 15
4 : 4	 8	 12	 16	 20
5 : 5	 10	 15	 20	 25

In [4]:
for number in range(1,6): #used range instead of list
    print(f"{number} :", end="") #end="" allows the code to continue on same line
    for value in range(1,6):
        print(f" {number * value:<4}", end="") #tried this out 
    print()

1 : 1    2    3    4    5
2 : 2    4    6    8    10
3 : 3    6    9    12   15
4 : 4    8    12   16   20
5 : 5    10   15   20   25

In [6]:
for number in range(1,6): #used range instead of list
    print(f"{number} :", end="") #end="" allows the code to continue on same line
    for value in range(1,6):
        print(f" {number * value:<1}", end="")
    print()

1 : 1 2 3 4 5
2 : 2 4 6 8 10
3 : 3 6 9 12 15
4 : 4 8 12 16 20
5 : 5 10 15 20 25